Nav {
   position: fixed;
   top: 30%;
   right: 0;
   z-index: 5;
}

footer {
   height: 200px;
   font-size: 12px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: white;
   z-index: -1;
}

.main{
   background-color: white;
   position: relative;
   z-index: 0;
   margin-bottom: 200px;
   height: 100vh;
   width: 100vw;
}

.preloader{
   width: 100vw;
   height: 100vh;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }