@font-face {
  font-family: ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

#root{
  overflow-x: hidden !important;
}

body {
  font-family: ubuntu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 200px !important;
  -webkit-background-size: auto;
  background-size: auto;
  overflow-x: hidden !important;
}

* {    
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}