@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

body {
  position: absolute;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {    
  margin: 0;
}