.title {
   position: absolute;
   top: 0;
   left: 0;
   margin-left: 85px !important;
}

h1 {
   font-size: 72px;
   font-weight: bolder;
   margin: 5px 0;
}

h2 {
   color: grey;
   margin: 30px 0;
}

p{
   font-size: large;
   color: grey;
   text-align: justify;
}

.container {
   display: flex;
   height: 100vh;
   align-items: center;
   margin-left: 85px;
   margin-right: 150px;
}
/* About Page */
#about{
   display: flex;
}

.about-img {
   width: 360px;
}

.content-left{
   flex: 35%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content-right{
   flex: 65%;
   display: flex;
   align-items: center;
}
/*Skills Page */
.skills-content{
   box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   display: inline-flex;
   width: calc(6vw + 18px);
   height: calc(6vw + 18px);
   margin: 12px;
   align-items: center;
   justify-content: center;
}

.skills-content div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.skills-content p{
   text-align: center;
   font-size: small;
}

.skills-icons{
   margin-bottom: 4px;
   width: 32px;
   height: 32px;
}
/*Projects Page*/
#projects{
   width: 100vw;
   display: flex;
   justify-content: center;
}

.project-item{
   width: 20vw;
   height: 20vw;
}

/*Responsive design for mobile website*/
@media only screen and (max-width: 530px){
   h1{
      font-size: 40px;
   }

   h2 {
      font-size: 18px;
   }

   p {
      font-size: medium;
   }

   .intro{
      font-size: 36px;
   }

   .container{
      margin-left: 20px;
      margin-right: 70px;
   }

   .title {
      margin-left: 20px !important;
   }

   #about{
      display: block;
   }

   .about-img {
      width: 240px;
   }

   #skills{
      margin-top: 32px;
      margin-left: 26px;
   }

   .skills-content{
      width: calc(10vw + 18px);
      height: calc(10vw + 18px);
      margin: 10px;
   }

   .skills-icons{
      width: 24px;
      height: 24px;
   }

   .skills-content p{
      font-size: x-small;
   }

   .project-item{
      width: 160px;
      height: 160px;
   }
}