.slider {
   position: relative;
   height: 50vh;
   width: 50vw;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: solid red 1px; */
}

.slider-item {
   width: 80%;
   position: absolute;
   top: 0;
   display: flex;
   will-change: transform, opacity;
}

.btn-left{
   position: absolute;
   left: 0;
   width: 32px;
   height: 32px;
   transform: scale(1);
   color: lightgrey;
}

.btn-right{
   position: absolute;
   right: 0;
   width: 32px;
   height: 32px;
   transform: scale(1);
   color: lightgrey;
}

.btn-left:hover, .btn-right:hover{
   transform: scale(1.2);
   color: black;
}

@media only screen and (max-width: 530px){
   .slider{
      height: 512px;
      width: 256px;
   }

   .slider-item{
      width: 100%;
      top: 50px;  
   }

   .btn-left{
      bottom: 0;
      left: 15vw;
   }

   .btn-right{
      bottom: 0;
      right: 15vw;
   }
}